@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: white;
    font-family: 'Archivo', sans-serif;
}

html,
body,
#root {
    height: 100%;
    background-color: theme('colors.secondary');
}
